{
    "openapi": "3.0.0",
    "info": {
        "title": "Trivelo Hotel Booking API",
        "description": "Comprehensive hotel booking system API with multi-role authentication",
        "contact": {
            "email": "support@trivelo.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User login",
                "description": "Authenticate user and return JWT token",
                "operationId": "dd51a484b7fa0f97c7680fdbde14cf5f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@trivelo.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "John Doe"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "john@example.com"
                                                        },
                                                        "roles": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "example": [
                                                                "customer"
                                                            ]
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                                },
                                                "expires_in": {
                                                    "type": "integer",
                                                    "example": 3600
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid credentials"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "The email field is required."
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User registration",
                "description": "Register a new user account",
                "operationId": "c7bb21a0d87049e161b8e4c9b0d909f2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+1234567890"
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "customer",
                                            "hotel_manager"
                                        ],
                                        "example": "customer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User registered successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "John Doe"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "john@example.com"
                                                        },
                                                        "phone": {
                                                            "type": "string",
                                                            "example": "+1234567890"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "active"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User logout",
                "description": "Logout user and invalidate token",
                "operationId": "df9bdc6c7a6d9f20b983526b2ec0f698",
                "responses": {
                    "200": {
                        "description": "Logged out successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/hotels": {
            "get": {
                "tags": [
                    "Hotels"
                ],
                "summary": "List hotels",
                "description": "Get list of approved hotels with filtering and pagination",
                "operationId": "7e8239d84013343522dd6d84f82ce840",
                "parameters": [
                    {
                        "name": "city",
                        "in": "query",
                        "description": "Filter by city",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "Filter by country",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "star_rating",
                        "in": "query",
                        "description": "Filter by star rating (1-5)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 5,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "min_price",
                        "in": "query",
                        "description": "Minimum room price",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "max_price",
                        "in": "query",
                        "description": "Maximum room price",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "amenities",
                        "in": "query",
                        "description": "Filter by amenity IDs",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "check_in",
                        "in": "query",
                        "description": "Check-in date (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "check_out",
                        "in": "query",
                        "description": "Check-out date (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "guests",
                        "in": "query",
                        "description": "Number of guests",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort by",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "price_asc",
                                "price_desc",
                                "rating_asc",
                                "rating_desc",
                                "name_asc",
                                "name_desc"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Results per page (default: 15, max: 100)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hotels retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "hotels": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Hotel"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "meta": {
                                            "properties": {
                                                "pagination": {
                                                    "properties": {
                                                        "current_page": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "total_pages": {
                                                            "type": "integer",
                                                            "example": 10
                                                        },
                                                        "per_page": {
                                                            "type": "integer",
                                                            "example": 15
                                                        },
                                                        "total": {
                                                            "type": "integer",
                                                            "example": 150
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Hotels"
                ],
                "summary": "Create hotel",
                "description": "Create a new hotel (requires hotel_manager role)",
                "operationId": "6f17f3f085dab45c6b8cc8885e15fbc2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateHotelRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Hotel created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Hotel created successfully and submitted for approval"
                                        },
                                        "data": {
                                            "properties": {
                                                "hotel": {
                                                    "$ref": "#/components/schemas/Hotel"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Hotel manager role required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Insufficient permissions"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/hotels/{id}": {
            "get": {
                "tags": [
                    "Hotels"
                ],
                "summary": "Get hotel details",
                "description": "Get detailed information about a specific hotel",
                "operationId": "42ab12b8021f7fe329cd004cb4b277a3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Hotel ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hotel details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "hotel": {
                                                    "$ref": "#/components/schemas/HotelDetail"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Hotel not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Hotel not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Hotel": {
                "title": "Hotel",
                "description": "Hotel basic information",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Grand Hotel NYC"
                    },
                    "slug": {
                        "type": "string",
                        "example": "grand-hotel-nyc"
                    },
                    "description": {
                        "type": "string",
                        "example": "Luxury hotel in the heart of Manhattan"
                    },
                    "address": {
                        "type": "string",
                        "example": "123 Broadway, New York, NY 10001"
                    },
                    "city": {
                        "type": "string",
                        "example": "New York"
                    },
                    "state": {
                        "type": "string",
                        "example": "NY"
                    },
                    "country": {
                        "type": "string",
                        "example": "USA"
                    },
                    "star_rating": {
                        "type": "integer",
                        "example": 4
                    },
                    "min_price": {
                        "type": "number",
                        "format": "float",
                        "example": 150
                    },
                    "images": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/HotelImage"
                        }
                    },
                    "amenities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Amenity"
                        }
                    },
                    "average_rating": {
                        "type": "number",
                        "format": "float",
                        "example": 4.2
                    },
                    "total_reviews": {
                        "type": "integer",
                        "example": 156
                    }
                },
                "type": "object"
            },
            "HotelDetail": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Hotel"
                    },
                    {
                        "properties": {
                            "postal_code": {
                                "type": "string",
                                "example": "10001"
                            },
                            "phone": {
                                "type": "string",
                                "example": "+1234567890"
                            },
                            "email": {
                                "type": "string",
                                "example": "info@grandhotel.com"
                            },
                            "website": {
                                "type": "string",
                                "example": "https://grandhotel.com"
                            },
                            "check_in_time": {
                                "type": "string",
                                "format": "time",
                                "example": "14:00:00"
                            },
                            "check_out_time": {
                                "type": "string",
                                "format": "time",
                                "example": "11:00:00"
                            },
                            "policies": {
                                "type": "string",
                                "example": "Cancellation policy: 24 hours..."
                            },
                            "latitude": {
                                "type": "number",
                                "format": "float",
                                "example": 40.7589
                            },
                            "longitude": {
                                "type": "number",
                                "format": "float",
                                "example": -73.9851
                            },
                            "rooms": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Room"
                                }
                            },
                            "reviews": {
                                "properties": {
                                    "average_rating": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 4.2
                                    },
                                    "total_reviews": {
                                        "type": "integer",
                                        "example": 156
                                    },
                                    "rating_breakdown": {
                                        "properties": {
                                            "5": {
                                                "type": "integer",
                                                "example": 45
                                            },
                                            "4": {
                                                "type": "integer",
                                                "example": 78
                                            },
                                            "3": {
                                                "type": "integer",
                                                "example": 25
                                            },
                                            "2": {
                                                "type": "integer",
                                                "example": 6
                                            },
                                            "1": {
                                                "type": "integer",
                                                "example": 2
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "Room": {
                "title": "Room",
                "description": "Room information",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "hotel_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Deluxe Room"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "single",
                            "double",
                            "twin",
                            "suite",
                            "deluxe",
                            "family"
                        ],
                        "example": "deluxe"
                    },
                    "description": {
                        "type": "string",
                        "example": "Spacious room with city view"
                    },
                    "capacity": {
                        "type": "integer",
                        "example": 2
                    },
                    "base_price": {
                        "type": "number",
                        "format": "float",
                        "example": 150
                    },
                    "area": {
                        "type": "number",
                        "format": "float",
                        "example": 25.5
                    },
                    "bed_type": {
                        "type": "string",
                        "example": "King Bed"
                    },
                    "quantity": {
                        "type": "integer",
                        "example": 10
                    },
                    "available_quantity": {
                        "type": "integer",
                        "example": 3
                    },
                    "images": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RoomImage"
                        }
                    },
                    "amenities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Amenity"
                        }
                    }
                },
                "type": "object"
            },
            "Booking": {
                "title": "Booking",
                "description": "Booking information",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "booking_number": {
                        "type": "string",
                        "example": "BK-2025-001"
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "hotel_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "room_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "check_in_date": {
                        "type": "string",
                        "format": "date",
                        "example": "2025-10-15"
                    },
                    "check_out_date": {
                        "type": "string",
                        "format": "date",
                        "example": "2025-10-18"
                    },
                    "adults": {
                        "type": "integer",
                        "example": 2
                    },
                    "children": {
                        "type": "integer",
                        "example": 1
                    },
                    "nights": {
                        "type": "integer",
                        "example": 3
                    },
                    "room_price": {
                        "type": "number",
                        "format": "float",
                        "example": 150
                    },
                    "total_amount": {
                        "type": "number",
                        "format": "float",
                        "example": 450
                    },
                    "tax_amount": {
                        "type": "number",
                        "format": "float",
                        "example": 45
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "confirmed",
                            "cancelled",
                            "completed",
                            "no_show"
                        ],
                        "example": "confirmed"
                    },
                    "guest_name": {
                        "type": "string",
                        "example": "John Doe"
                    },
                    "guest_email": {
                        "type": "string",
                        "example": "john@example.com"
                    },
                    "guest_phone": {
                        "type": "string",
                        "example": "+1234567890"
                    },
                    "special_requests": {
                        "type": "string",
                        "example": "Late check-in requested"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-14T10:30:00Z"
                    }
                },
                "type": "object"
            },
            "Payment": {
                "title": "Payment",
                "description": "Payment information",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "booking_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "payment_method": {
                        "type": "string",
                        "enum": [
                            "stripe",
                            "paypal",
                            "bank_transfer",
                            "cash"
                        ],
                        "example": "stripe"
                    },
                    "transaction_id": {
                        "type": "string",
                        "example": "pi_1234567890"
                    },
                    "amount": {
                        "type": "number",
                        "format": "float",
                        "example": 450
                    },
                    "currency": {
                        "type": "string",
                        "example": "USD"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "completed",
                            "failed",
                            "refunded",
                            "partially_refunded"
                        ],
                        "example": "completed"
                    },
                    "payment_date": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-14T10:30:00Z"
                    }
                },
                "type": "object"
            },
            "Review": {
                "title": "Review",
                "description": "Review information",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "booking_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "hotel_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "rating": {
                        "type": "integer",
                        "maximum": 5,
                        "minimum": 1,
                        "example": 5
                    },
                    "title": {
                        "type": "string",
                        "example": "Excellent stay!"
                    },
                    "comment": {
                        "type": "string",
                        "example": "The hotel exceeded our expectations..."
                    },
                    "cleanliness_rating": {
                        "type": "integer",
                        "maximum": 5,
                        "minimum": 1,
                        "example": 5
                    },
                    "service_rating": {
                        "type": "integer",
                        "maximum": 5,
                        "minimum": 1,
                        "example": 4
                    },
                    "location_rating": {
                        "type": "integer",
                        "maximum": 5,
                        "minimum": 1,
                        "example": 5
                    },
                    "value_rating": {
                        "type": "integer",
                        "maximum": 5,
                        "minimum": 1,
                        "example": 4
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "approved",
                            "rejected"
                        ],
                        "example": "approved"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-14T10:30:00Z"
                    },
                    "user": {
                        "properties": {
                            "name": {
                                "type": "string",
                                "example": "John Doe"
                            },
                            "avatar": {
                                "type": "string",
                                "example": "/storage/avatars/user-1.jpg"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "Amenity": {
                "title": "Amenity",
                "description": "Amenity information",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "WiFi"
                    },
                    "slug": {
                        "type": "string",
                        "example": "wifi"
                    },
                    "icon": {
                        "type": "string",
                        "example": "fas fa-wifi"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "hotel",
                            "room",
                            "both"
                        ],
                        "example": "both"
                    }
                },
                "type": "object"
            },
            "HotelImage": {
                "title": "Hotel Image",
                "description": "Hotel image information",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "image_path": {
                        "type": "string",
                        "example": "/storage/hotels/hotel-1-main.jpg"
                    },
                    "alt_text": {
                        "type": "string",
                        "example": "Hotel exterior"
                    },
                    "is_primary": {
                        "type": "boolean",
                        "example": true
                    }
                },
                "type": "object"
            },
            "RoomImage": {
                "title": "Room Image",
                "description": "Room image information",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 3
                    },
                    "image_path": {
                        "type": "string",
                        "example": "/storage/rooms/room-1-main.jpg"
                    },
                    "alt_text": {
                        "type": "string",
                        "example": "Deluxe room"
                    },
                    "is_primary": {
                        "type": "boolean",
                        "example": true
                    }
                },
                "type": "object"
            },
            "CreateHotelRequest": {
                "title": "Create Hotel Request",
                "description": "Request body for creating a new hotel",
                "required": [
                    "name",
                    "address",
                    "city",
                    "state",
                    "country",
                    "phone",
                    "email",
                    "star_rating"
                ],
                "properties": {
                    "name": {
                        "type": "string",
                        "example": "My Hotel"
                    },
                    "description": {
                        "type": "string",
                        "example": "A wonderful place to stay"
                    },
                    "address": {
                        "type": "string",
                        "example": "123 Main St, City, State"
                    },
                    "city": {
                        "type": "string",
                        "example": "City Name"
                    },
                    "state": {
                        "type": "string",
                        "example": "State Name"
                    },
                    "country": {
                        "type": "string",
                        "example": "Country Name"
                    },
                    "postal_code": {
                        "type": "string",
                        "example": "12345"
                    },
                    "phone": {
                        "type": "string",
                        "example": "+1234567890"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "hotel@example.com"
                    },
                    "website": {
                        "type": "string",
                        "example": "https://myhotel.com"
                    },
                    "star_rating": {
                        "type": "integer",
                        "maximum": 5,
                        "minimum": 1,
                        "example": 4
                    },
                    "check_in_time": {
                        "type": "string",
                        "format": "time",
                        "example": "14:00"
                    },
                    "check_out_time": {
                        "type": "string",
                        "format": "time",
                        "example": "11:00"
                    },
                    "policies": {
                        "type": "string",
                        "example": "Hotel policies text..."
                    },
                    "amenities": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "example": [
                            1,
                            2,
                            3
                        ]
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "JWT Authorization header using the Bearer scheme",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "Authentication and user management endpoints"
        },
        {
            "name": "Hotels",
            "description": "Hotel management endpoints"
        }
    ]
}