{
    "openapi": "3.0.0",
    "info": {
        "title": "Trivelo Hotel Booking API",
        "description": "Comprehensive hotel booking system API with multi-role authentication",
        "contact": {
            "email": "support@trivelo.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User login",
                "description": "Authenticate user and return JWT token",
                "operationId": "dd51a484b7fa0f97c7680fdbde14cf5f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@trivelo.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "John Doe"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "john@example.com"
                                                        },
                                                        "roles": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "example": [
                                                                "customer"
                                                            ]
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                                },
                                                "expires_in": {
                                                    "type": "integer",
                                                    "example": 3600
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid credentials"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "The email field is required."
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User registration",
                "description": "Register a new user account",
                "operationId": "c7bb21a0d87049e161b8e4c9b0d909f2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+1234567890"
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "customer",
                                            "hotel_manager"
                                        ],
                                        "example": "customer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User registered successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "John Doe"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "john@example.com"
                                                        },
                                                        "phone": {
                                                            "type": "string",
                                                            "example": "+1234567890"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "active"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User logout",
                "description": "Logout user and invalidate token",
                "operationId": "df9bdc6c7a6d9f20b983526b2ec0f698",
                "responses": {
                    "200": {
                        "description": "Logged out successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/bookings": {
            "get": {
                "tags": [
                    "Bookings"
                ],
                "summary": "List user bookings",
                "description": "Get authenticated user's bookings with filtering and pagination",
                "operationId": "4535e967ef15bc76dadf1efa40192f0d",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by booking status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "confirmed",
                                "pending",
                                "cancelled",
                                "completed"
                            ]
                        }
                    },
                    {
                        "name": "hotel_id",
                        "in": "query",
                        "description": "Filter by hotel ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort field",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "created_at",
                            "enum": [
                                "check_in_date",
                                "check_out_date",
                                "created_at"
                            ]
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "description": "Sort direction",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 100,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bookings retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BookingListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Bookings"
                ],
                "summary": "Create a new booking",
                "description": "Create a new room booking for authenticated user",
                "operationId": "43e6dcca842886074084b8db86af7802",
                "requestBody": {
                    "description": "Booking creation data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateBookingRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Booking created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BookingDetailResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error or room not available",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - Only customers can create bookings",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Room not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/bookings/{id}": {
            "get": {
                "tags": [
                    "Bookings"
                ],
                "summary": "Get booking details",
                "description": "Get detailed information about a specific booking",
                "operationId": "c383a28985575aa1a16f783b2f762554",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Booking ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Booking retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BookingDetailResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - Can only view own bookings",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Booking not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/hotels": {
            "get": {
                "tags": [
                    "Hotels"
                ],
                "summary": "List hotels",
                "description": "Get list of approved hotels with filtering and pagination",
                "operationId": "7e8239d84013343522dd6d84f82ce840",
                "parameters": [
                    {
                        "name": "city",
                        "in": "query",
                        "description": "Filter by city",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "Filter by country",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "star_rating",
                        "in": "query",
                        "description": "Filter by star rating (1-5)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 5,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "min_price",
                        "in": "query",
                        "description": "Minimum room price",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "max_price",
                        "in": "query",
                        "description": "Maximum room price",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "amenities",
                        "in": "query",
                        "description": "Filter by amenity IDs",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "check_in",
                        "in": "query",
                        "description": "Check-in date (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "check_out",
                        "in": "query",
                        "description": "Check-out date (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "guests",
                        "in": "query",
                        "description": "Number of guests",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort by",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "price_asc",
                                "price_desc",
                                "rating_asc",
                                "rating_desc",
                                "name_asc",
                                "name_desc"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Results per page (default: 15, max: 100)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hotels retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "hotels": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Hotel"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "meta": {
                                            "properties": {
                                                "pagination": {
                                                    "properties": {
                                                        "current_page": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "total_pages": {
                                                            "type": "integer",
                                                            "example": 10
                                                        },
                                                        "per_page": {
                                                            "type": "integer",
                                                            "example": 15
                                                        },
                                                        "total": {
                                                            "type": "integer",
                                                            "example": 150
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Hotels"
                ],
                "summary": "Create hotel",
                "description": "Create a new hotel (requires hotel_manager role)",
                "operationId": "6f17f3f085dab45c6b8cc8885e15fbc2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HotelCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Hotel created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Hotel created successfully and submitted for approval"
                                        },
                                        "data": {
                                            "properties": {
                                                "hotel": {
                                                    "$ref": "#/components/schemas/Hotel"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Hotel manager role required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Insufficient permissions"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/hotels/{id}": {
            "get": {
                "tags": [
                    "Hotels"
                ],
                "summary": "Get hotel details",
                "description": "Get detailed information about a specific hotel",
                "operationId": "42ab12b8021f7fe329cd004cb4b277a3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Hotel ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hotel details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "hotel": {
                                                    "$ref": "#/components/schemas/Hotel"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Hotel not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Hotel not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/rooms": {
            "get": {
                "tags": [
                    "Rooms"
                ],
                "summary": "List rooms for a hotel",
                "description": "Get list of active rooms for a specific hotel with filtering",
                "operationId": "db2a0f9c242ba089e87d5ae1fa8e14c5",
                "parameters": [
                    {
                        "name": "hotel_id",
                        "in": "query",
                        "description": "Hotel ID (required)",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "room_type",
                        "in": "query",
                        "description": "Filter by room type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "standard",
                                "deluxe",
                                "suite",
                                "presidential"
                            ]
                        }
                    },
                    {
                        "name": "min_price",
                        "in": "query",
                        "description": "Minimum room price per night",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0
                        }
                    },
                    {
                        "name": "max_price",
                        "in": "query",
                        "description": "Maximum room price per night",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0
                        }
                    },
                    {
                        "name": "capacity",
                        "in": "query",
                        "description": "Minimum room capacity",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 100,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Rooms retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RoomListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error - hotel_id required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Hotel not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Rooms"
                ],
                "summary": "Create a new room",
                "description": "Create a new room for a hotel (Hotel Manager only)",
                "operationId": "809158a6b73bac8545f93f5b9f8a8a8a",
                "requestBody": {
                    "description": "Room creation data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateRoomRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Room created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RoomDetailResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - Only hotel managers can create rooms",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Hotel not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/rooms/{id}": {
            "get": {
                "tags": [
                    "Rooms"
                ],
                "summary": "Get room details",
                "description": "Get detailed information about a specific room",
                "operationId": "b1475eb28ef61d930c8d73dce18cd23c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Room ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Room retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RoomDetailResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Room not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Rooms"
                ],
                "summary": "Update room",
                "description": "Update room details (Hotel Manager only)",
                "operationId": "0c313fa83b1cc3ffd17495d103f021e2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Room ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Room update data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateRoomRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Room updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RoomDetailResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - Only room owner can update",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Room not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Rooms"
                ],
                "summary": "Delete room",
                "description": "Delete a room (Hotel Manager only)",
                "operationId": "4698523ee5dafa1ac652ef8ede5e96d4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Room ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Room deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - Only room owner can delete",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Room not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/rooms/{id}/check-availability": {
            "post": {
                "tags": [
                    "Rooms"
                ],
                "summary": "Check room availability",
                "description": "Check if a room is available for the specified dates",
                "operationId": "d70e12f7dce0cb5223708dc2bdcb266f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Room ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Date range for availability check",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "check_in",
                                    "check_out"
                                ],
                                "properties": {
                                    "check_in": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-12-01"
                                    },
                                    "check_out": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-12-05"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Availability check result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Room availability checked successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "available": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "room_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "check_in": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2024-12-01"
                                                },
                                                "check_out": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2024-12-05"
                                                },
                                                "total_nights": {
                                                    "type": "integer",
                                                    "example": 4
                                                },
                                                "total_price": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 600
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Room not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "LoginRequest": {
                "title": "Login Request",
                "description": "User login request",
                "required": [
                    "email",
                    "password"
                ],
                "properties": {
                    "email": {
                        "description": "User email address",
                        "type": "string",
                        "format": "email",
                        "example": "admin@trivelo.com"
                    },
                    "password": {
                        "description": "User password",
                        "type": "string",
                        "format": "password",
                        "example": "password"
                    }
                },
                "type": "object"
            },
            "RegisterRequest": {
                "title": "Register Request",
                "description": "User registration request",
                "required": [
                    "name",
                    "email",
                    "password",
                    "password_confirmation"
                ],
                "properties": {
                    "name": {
                        "description": "User full name",
                        "type": "string",
                        "example": "John Doe"
                    },
                    "email": {
                        "description": "User email address",
                        "type": "string",
                        "format": "email",
                        "example": "john@example.com"
                    },
                    "password": {
                        "description": "User password",
                        "type": "string",
                        "format": "password",
                        "minLength": 8,
                        "example": "password123"
                    },
                    "password_confirmation": {
                        "description": "Password confirmation",
                        "type": "string",
                        "format": "password",
                        "example": "password123"
                    },
                    "phone": {
                        "description": "User phone number",
                        "type": "string",
                        "example": "+1234567890",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "HotelCreateRequest": {
                "title": "Hotel Create Request",
                "description": "Create hotel request",
                "required": [
                    "name",
                    "email",
                    "phone",
                    "address",
                    "city",
                    "country",
                    "star_rating"
                ],
                "properties": {
                    "name": {
                        "description": "Hotel name",
                        "type": "string",
                        "example": "Grand Plaza Hotel"
                    },
                    "description": {
                        "description": "Hotel description",
                        "type": "string",
                        "example": "Luxury hotel in city center",
                        "nullable": true
                    },
                    "email": {
                        "description": "Hotel contact email",
                        "type": "string",
                        "format": "email",
                        "example": "info@grandplaza.com"
                    },
                    "phone": {
                        "description": "Hotel contact phone",
                        "type": "string",
                        "example": "+1234567890"
                    },
                    "website": {
                        "description": "Hotel website URL",
                        "type": "string",
                        "example": "https://grandplaza.com",
                        "nullable": true
                    },
                    "address": {
                        "description": "Hotel address",
                        "type": "string",
                        "example": "123 Main Street"
                    },
                    "city": {
                        "description": "Hotel city",
                        "type": "string",
                        "example": "New York"
                    },
                    "state": {
                        "description": "Hotel state",
                        "type": "string",
                        "example": "NY",
                        "nullable": true
                    },
                    "country": {
                        "description": "Hotel country",
                        "type": "string",
                        "example": "USA"
                    },
                    "postal_code": {
                        "description": "Hotel postal code",
                        "type": "string",
                        "example": "10001",
                        "nullable": true
                    },
                    "latitude": {
                        "description": "Hotel latitude",
                        "type": "number",
                        "format": "float",
                        "example": 40.7128,
                        "nullable": true
                    },
                    "longitude": {
                        "description": "Hotel longitude",
                        "type": "number",
                        "format": "float",
                        "example": -74.006,
                        "nullable": true
                    },
                    "star_rating": {
                        "description": "Hotel star rating",
                        "type": "integer",
                        "maximum": 5,
                        "minimum": 1,
                        "example": 4
                    },
                    "check_in_time": {
                        "description": "Check-in time",
                        "type": "string",
                        "format": "time",
                        "example": "15:00"
                    },
                    "check_out_time": {
                        "description": "Check-out time",
                        "type": "string",
                        "format": "time",
                        "example": "11:00"
                    },
                    "cancellation_policy": {
                        "description": "Cancellation policy",
                        "type": "string",
                        "example": "Free cancellation up to 24 hours",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "RoomCreateRequest": {
                "title": "Room Create Request",
                "description": "Create room request",
                "required": [
                    "room_number",
                    "room_type",
                    "price_per_night",
                    "capacity"
                ],
                "properties": {
                    "room_number": {
                        "description": "Room number",
                        "type": "string",
                        "example": "101"
                    },
                    "room_type": {
                        "description": "Room type",
                        "type": "string",
                        "enum": [
                            "standard",
                            "deluxe",
                            "suite",
                            "family",
                            "executive"
                        ],
                        "example": "deluxe"
                    },
                    "description": {
                        "description": "Room description",
                        "type": "string",
                        "example": "Spacious room with city view",
                        "nullable": true
                    },
                    "price_per_night": {
                        "description": "Price per night",
                        "type": "number",
                        "format": "float",
                        "minimum": 0,
                        "example": 150
                    },
                    "capacity": {
                        "description": "Room capacity",
                        "type": "integer",
                        "minimum": 1,
                        "example": 2
                    },
                    "bed_type": {
                        "description": "Bed type",
                        "type": "string",
                        "enum": [
                            "single",
                            "double",
                            "queen",
                            "king",
                            "twin"
                        ],
                        "example": "king",
                        "nullable": true
                    },
                    "bed_count": {
                        "description": "Number of beds",
                        "type": "integer",
                        "minimum": 1,
                        "example": 1,
                        "nullable": true
                    },
                    "bathroom_count": {
                        "description": "Number of bathrooms",
                        "type": "integer",
                        "minimum": 1,
                        "example": 1,
                        "nullable": true
                    },
                    "size_sqm": {
                        "description": "Room size in square meters",
                        "type": "number",
                        "format": "float",
                        "example": 35.5,
                        "nullable": true
                    },
                    "floor_number": {
                        "description": "Floor number",
                        "type": "integer",
                        "example": 1,
                        "nullable": true
                    },
                    "has_balcony": {
                        "description": "Has balcony",
                        "type": "boolean",
                        "example": true
                    },
                    "has_sea_view": {
                        "description": "Has sea view",
                        "type": "boolean",
                        "example": false
                    },
                    "has_city_view": {
                        "description": "Has city view",
                        "type": "boolean",
                        "example": true
                    },
                    "is_smoking_allowed": {
                        "description": "Smoking allowed",
                        "type": "boolean",
                        "example": false
                    },
                    "is_accessible": {
                        "description": "Wheelchair accessible",
                        "type": "boolean",
                        "example": true
                    },
                    "amenity_ids": {
                        "description": "Array of amenity IDs",
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "example": [
                            1,
                            2,
                            3
                        ]
                    }
                },
                "type": "object"
            },
            "BookingCreateRequest": {
                "title": "Booking Create Request",
                "description": "Create booking request",
                "required": [
                    "room_id",
                    "check_in_date",
                    "check_out_date",
                    "guests_count"
                ],
                "properties": {
                    "room_id": {
                        "description": "Room ID",
                        "type": "integer",
                        "example": 1
                    },
                    "check_in_date": {
                        "description": "Check-in date",
                        "type": "string",
                        "format": "date",
                        "example": "2024-12-01"
                    },
                    "check_out_date": {
                        "description": "Check-out date",
                        "type": "string",
                        "format": "date",
                        "example": "2024-12-05"
                    },
                    "guests_count": {
                        "description": "Number of guests",
                        "type": "integer",
                        "minimum": 1,
                        "example": 2
                    },
                    "special_requests": {
                        "description": "Special requests",
                        "type": "string",
                        "example": "Late check-in requested",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "AvailabilityCheckRequest": {
                "title": "Availability Check Request",
                "description": "Room availability check request",
                "required": [
                    "check_in_date",
                    "check_out_date"
                ],
                "properties": {
                    "check_in_date": {
                        "description": "Check-in date",
                        "type": "string",
                        "format": "date",
                        "example": "2024-12-01"
                    },
                    "check_out_date": {
                        "description": "Check-out date",
                        "type": "string",
                        "format": "date",
                        "example": "2024-12-05"
                    }
                },
                "type": "object"
            },
            "LoginResponse": {
                "title": "Login Response",
                "description": "Successful login response",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": "Login successful"
                    },
                    "data": {
                        "properties": {
                            "user": {
                                "$ref": "#/components/schemas/User"
                            },
                            "token": {
                                "description": "Authentication token",
                                "type": "string",
                                "example": "1|abcdef123456789"
                            },
                            "token_type": {
                                "description": "Token type",
                                "type": "string",
                                "example": "Bearer"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "AvailabilityResponse": {
                "title": "Availability Response",
                "description": "Room availability check response",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": "Availability checked successfully"
                    },
                    "data": {
                        "properties": {
                            "room_id": {
                                "type": "integer",
                                "example": 1
                            },
                            "check_in_date": {
                                "type": "string",
                                "format": "date",
                                "example": "2024-12-01"
                            },
                            "check_out_date": {
                                "type": "string",
                                "format": "date",
                                "example": "2024-12-05"
                            },
                            "is_available": {
                                "type": "boolean",
                                "example": true
                            },
                            "nights_count": {
                                "type": "integer",
                                "example": 4
                            },
                            "total_amount": {
                                "type": "number",
                                "format": "float",
                                "example": 600
                            },
                            "message": {
                                "type": "string",
                                "example": "Room is available for the selected dates"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "CreateHotelRequest": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/HotelCreateRequest"
                    }
                ]
            },
            "CreateRoomRequest": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/RoomCreateRequest"
                    }
                ]
            },
            "UpdateRoomRequest": {
                "title": "Update Room Request",
                "description": "Update room request",
                "properties": {
                    "room_number": {
                        "description": "Room number",
                        "type": "string",
                        "example": "102"
                    },
                    "room_type": {
                        "description": "Room type",
                        "type": "string",
                        "enum": [
                            "standard",
                            "deluxe",
                            "suite",
                            "family",
                            "executive"
                        ],
                        "example": "suite"
                    },
                    "description": {
                        "description": "Room description",
                        "type": "string",
                        "example": "Updated room description",
                        "nullable": true
                    },
                    "price_per_night": {
                        "description": "Price per night",
                        "type": "number",
                        "format": "float",
                        "minimum": 0,
                        "example": 200
                    },
                    "capacity": {
                        "description": "Room capacity",
                        "type": "integer",
                        "minimum": 1,
                        "example": 4
                    },
                    "is_available": {
                        "description": "Room availability",
                        "type": "boolean",
                        "example": true
                    }
                },
                "type": "object"
            },
            "CreateBookingRequest": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/BookingCreateRequest"
                    }
                ]
            },
            "UpdateBookingRequest": {
                "title": "Update Booking Request",
                "description": "Update booking request",
                "properties": {
                    "status": {
                        "description": "Booking status",
                        "type": "string",
                        "enum": [
                            "confirmed",
                            "pending",
                            "cancelled",
                            "completed"
                        ],
                        "example": "confirmed"
                    },
                    "special_requests": {
                        "description": "Special requests",
                        "type": "string",
                        "example": "Updated special request",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "RoomListResponse": {
                "title": "Room List Response",
                "description": "Paginated room list response",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": "Rooms retrieved successfully"
                    },
                    "data": {
                        "properties": {
                            "data": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/RoomSummary"
                                }
                            },
                            "current_page": {
                                "type": "integer",
                                "example": 1
                            },
                            "last_page": {
                                "type": "integer",
                                "example": 3
                            },
                            "per_page": {
                                "type": "integer",
                                "example": 15
                            },
                            "total": {
                                "type": "integer",
                                "example": 42
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "RoomDetailResponse": {
                "title": "Room Detail Response",
                "description": "Single room detail response",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": "Room details retrieved successfully"
                    },
                    "data": {
                        "$ref": "#/components/schemas/RoomDetail"
                    }
                },
                "type": "object"
            },
            "RoomSummary": {
                "title": "Room Summary",
                "description": "Room summary information",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "room_number": {
                        "type": "string",
                        "example": "101"
                    },
                    "room_type": {
                        "type": "string",
                        "example": "deluxe"
                    },
                    "price_per_night": {
                        "type": "number",
                        "format": "float",
                        "example": 150
                    },
                    "capacity": {
                        "type": "integer",
                        "example": 2
                    },
                    "is_available": {
                        "type": "boolean",
                        "example": true
                    }
                },
                "type": "object"
            },
            "RoomDetail": {
                "title": "Room Detail",
                "description": "Detailed room information",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "hotel_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "room_number": {
                        "type": "string",
                        "example": "101"
                    },
                    "room_type": {
                        "type": "string",
                        "example": "deluxe"
                    },
                    "description": {
                        "type": "string",
                        "example": "Spacious room with city view"
                    },
                    "price_per_night": {
                        "type": "number",
                        "format": "float",
                        "example": 150
                    },
                    "capacity": {
                        "type": "integer",
                        "example": 2
                    },
                    "bed_type": {
                        "type": "string",
                        "example": "king"
                    },
                    "is_available": {
                        "type": "boolean",
                        "example": true
                    },
                    "hotel": {
                        "properties": {
                            "id": {
                                "type": "integer",
                                "example": 1
                            },
                            "name": {
                                "type": "string",
                                "example": "Grand Plaza Hotel"
                            },
                            "city": {
                                "type": "string",
                                "example": "New York"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "BookingListResponse": {
                "title": "Booking List Response",
                "description": "Paginated booking list response",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": "Bookings retrieved successfully"
                    },
                    "data": {
                        "properties": {
                            "data": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/BookingSummary"
                                }
                            },
                            "current_page": {
                                "type": "integer",
                                "example": 1
                            },
                            "last_page": {
                                "type": "integer",
                                "example": 2
                            },
                            "per_page": {
                                "type": "integer",
                                "example": 15
                            },
                            "total": {
                                "type": "integer",
                                "example": 25
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "BookingDetailResponse": {
                "title": "Booking Detail Response",
                "description": "Single booking detail response",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": "Booking retrieved successfully"
                    },
                    "data": {
                        "$ref": "#/components/schemas/BookingDetail"
                    }
                },
                "type": "object"
            },
            "BookingSummary": {
                "title": "Booking Summary",
                "description": "Booking summary information",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "booking_reference": {
                        "type": "string",
                        "example": "TRV-2024-001"
                    },
                    "status": {
                        "type": "string",
                        "example": "confirmed"
                    },
                    "check_in_date": {
                        "type": "string",
                        "format": "date",
                        "example": "2024-12-01"
                    },
                    "check_out_date": {
                        "type": "string",
                        "format": "date",
                        "example": "2024-12-05"
                    },
                    "total_amount": {
                        "type": "number",
                        "format": "float",
                        "example": 600
                    },
                    "hotel": {
                        "properties": {
                            "name": {
                                "type": "string",
                                "example": "Grand Plaza Hotel"
                            }
                        },
                        "type": "object"
                    },
                    "room": {
                        "properties": {
                            "room_number": {
                                "type": "string",
                                "example": "101"
                            },
                            "room_type": {
                                "type": "string",
                                "example": "deluxe"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "BookingDetail": {
                "title": "Booking Detail",
                "description": "Detailed booking information",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "booking_reference": {
                        "type": "string",
                        "example": "TRV-2024-001"
                    },
                    "status": {
                        "type": "string",
                        "example": "confirmed"
                    },
                    "check_in_date": {
                        "type": "string",
                        "format": "date",
                        "example": "2024-12-01"
                    },
                    "check_out_date": {
                        "type": "string",
                        "format": "date",
                        "example": "2024-12-05"
                    },
                    "total_amount": {
                        "type": "number",
                        "format": "float",
                        "example": 600
                    },
                    "guests_count": {
                        "type": "integer",
                        "example": 2
                    },
                    "special_requests": {
                        "type": "string",
                        "example": "Late check-in requested"
                    },
                    "nights": {
                        "type": "integer",
                        "example": 4
                    },
                    "hotel": {
                        "properties": {
                            "id": {
                                "type": "integer",
                                "example": 1
                            },
                            "name": {
                                "type": "string",
                                "example": "Grand Plaza Hotel"
                            },
                            "city": {
                                "type": "string",
                                "example": "New York"
                            },
                            "address": {
                                "type": "string",
                                "example": "123 Main Street"
                            }
                        },
                        "type": "object"
                    },
                    "room": {
                        "properties": {
                            "id": {
                                "type": "integer",
                                "example": 1
                            },
                            "room_number": {
[...]
